<div class="status">
    <h3>DROP INVOICE:</h3>
</div>
<div class="cards">
    <div class="card">
        <div class="card-info">
                    <div class="form-group">
                        <div class="file-input">
                            <div class="text-center" *ngIf="!file">
                                <input class="form-control btn" type="file" (change)="onChange($event)" name="fileX">
                            </div>
                            
                            <div class="upForm" *ngIf="file">
                                <h4>
                                    filename: {{file.name}} 
                                </h4>
                                <br>
                                <br>
                                <button (click)="onUpload()" class="btn">Upload</button>
                            </div>
                            <div>
                                <br>
                                <progress [value]="progressBar" max="1"></progress> 
                                <br>
                            </div>
                                <div class="container">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>PRODUCT</th>
                                                <th>HS CODE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td> 
                                                    <ul>
                                                        <li *ngFor="let product of products"> {{product}}</li>
                                                    </ul> 
                                                </td>
                                                <td> 
                                                    <ul>
                                                        <li *ngFor="let code of prodResult"> {{code}}</li>
                                                     </ul> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
        </div>
    </div>
            
</div>
        