
        <div class="dashboard">
            <div class="user">
                <img class="image" src="../assets/img/avatar.png" alt="">
                <h3>Dan</h3>
                <p>Pro Member</p>
            </div>
            <div class="links">
                <div class="link">
                    <i class="fa-solid fa-file"></i>
                    <h2><a [routerLink]="[ '/drop' ]">drop</a></h2>
                </div>
                <div class="link">
                    <i class="fa-solid fa-house-user"></i>
                    <h2><a [routerLink]="[ '/home' ]">progress</a></h2>
                </div>
                <div class="link">
                    <i class="fa-solid fa-tree"></i>
                    <h2><a [routerLink]="[ '/extras' ]">extra</a></h2>
                </div>
            </div>
            <div class="pro">
                <i class="fa-solid fa-arrows-to-circle"></i>
                <h4>Proof of Concept</h4>
            </div>
        </div>

