<h2>
    The EU wants to help traders make the most of global trading by making information clear.
</h2>
<br>
<h4>Te aim of this app is proof of concept to automate a manual labor that has to be done regarding Customs Clearance, making use of AI and webscrapping to solve the problem to search for a commodity code once an API could not be found.</h4>

<p>
EU companies accessing world markets Importing into the EU Trade policy
Trading with the wider world brings growth to the EU economy and jobs for European workers.

The European Commission has data on tariff duties, the technical requirements to trade, food health requirements, anti-dumping and anti-subsidy duties and other issues.

This information is set out according to whether you are exporting from the EU or importing into the EU.
</p>

